body {
  background-color: #eee;
}

header {
  background-color: #4c2474;
  color: #fff;
}

header .column-full {
  display: flex;
  align-items: center;
}

header a {
  font-size: 1.3rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

h2 {
  font-size: 2em;
}

img {
  width: 100%;
}

label {
  padding-bottom: 1rem;
}

input {
  padding: 0.3rem 0;
  margin: 1rem 0 2rem;
}

input,
textarea {
  width: 100%;
}

textarea {
  margin: 1rem 0;
  min-height: 6rem;
}

.button-row .column-full {
  display: flex;
  justify-content: flex-end;
}

button {
  text-transform: uppercase;
  background-color: #4c2474;
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#no-entries {
  padding: 0 0.75rem;
}

[data-view='entries'] .column-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-view='entries'] a {
  font-size: 1.3rem;
  background-color: #4c2474;
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.3rem 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}
